<a href="https://colab.research.google.com/github/markriis/IDS-pollution-of-cities/blob/main/Data_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importing data and librarys

In [113]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

!pip install -q opendatasets
import opendatasets as od

In [114]:
#air_and_water = pd.read_csv('https://raw.githubusercontent.com/markriis/IDS-pollution-of-cities/main/cities_air_quality_water_pollution2021.csv')

gasses = pd.read_csv('https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv',
                     usecols=['country', 'year', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_including_luc', 'co2_including_luc_growth_abs',
       'co2_including_luc_growth_prct', 'co2_including_luc_per_capita',
       'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy',
       'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2',
       'cumulative_oil_co2', 'energy_per_capita',
       'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'oil_co2', 'oil_co2_per_capita', 'primary_energy_consumption',
       'total_ghg', 'total_ghg_excluding_lucf'])# Removed some columns that I doubt would be of use, meanings at https://github.com/owid/co2-data/blob/master/owid-co2-codebook.csv

air = pd.read_excel('https://cdn.who.int/media/docs/default-source/air-pollution-documents/air-quality-and-health/who_aap_2021_v9_11august2022.xlsx?sfvrsn=9035996c_3',
                    storage_options={'User-Agent': 'Mozilla/5.0'}, sheet_name='AAP_2022_city_v9',
                    usecols=['WHO Country Name', 'City or Locality', 'Measurement Year', 'PM2.5 (μg/m3)', 'PM10 (μg/m3)', 'NO2 (μg/m3)'])

development = pd.read_csv('https://hdr.undp.org/sites/default/files/2021-22_HDR/HDR21-22_Composite_indices_complete_time_series.csv',
                          storage_options={'User-Agent': 'Mozilla/5.0'},
                          usecols=['country', 'hdi_1990', 'hdi_1991', 'hdi_1992', 'hdi_1993',
       'hdi_1994', 'hdi_1995', 'hdi_1996', 'hdi_1997', 'hdi_1998',
       'hdi_1999', 'hdi_2000', 'hdi_2001', 'hdi_2002', 'hdi_2003',
       'hdi_2004', 'hdi_2005', 'hdi_2006', 'hdi_2007', 'hdi_2008',
       'hdi_2009', 'hdi_2010', 'hdi_2011', 'hdi_2012', 'hdi_2013',
       'hdi_2014', 'hdi_2015', 'hdi_2016', 'hdi_2017', 'hdi_2018',
       'hdi_2019', 'hdi_2020', 'hdi_2021'])#

dataset_url = 'https://public.opendatasoft.com/explore/dataset/geonames-all-cities-with-a-population-1000/download/?format=csv&timezone=Europe/Berlin&lang=en&use_labels_for_header=true&csv_separator=%3B'
od.download(dataset_url)# This one takes a while

populations = pd.read_csv('./geonames-all-cities-with-a-population-1000.csv', delimiter=';',
                          usecols=['Name', 'ASCII Name', 'Country name EN', 'Population', 'Modification date'],
                          parse_dates=['Modification date'])

Using downloaded and verified file: ./geonames-all-cities-with-a-population-1000.csv

In [115]:
#air_and_water.head()

In [116]:
air.head()

,WHO Country Name,City or Locality,Measurement Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3)
0,Afghanistan,Kabul,2019,119.77,NaN,NaN
1,Albania,Durres,2015,NaN,17.65,26.63
2,Albania,Durres,2016,14.32,24.56,24.78
3,Albania,Elbasan,2015,NaN,NaN,23.96
4,Albania,Elbasan,2016,NaN,NaN,26.26

In [117]:
development.head()

,country,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,hdi_1995,hdi_1996,hdi_1997,hdi_1998,...,hdi_2012,hdi_2013,hdi_2014,hdi_2015,hdi_2016,hdi_2017,hdi_2018,hdi_2019,hdi_2020,hdi_2021
0,Afghanistan,0.273,0.279,0.287,0.297,0.292,0.310,0.319,0.323,0.324,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,Albania,0.647,0.629,0.614,0.617,0.624,0.634,0.645,0.642,0.657,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,United Arab Emirates,0.728,0.739,0.742,0.748,0.755,0.762,0.767,0.773,0.779,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911

In [118]:
gasses.head()

,country,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,...,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,primary_energy_consumption,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1850,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1852,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1853,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1854,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
gasses.shape

(50598, 45)

In [120]:
populations.head()

          Name   ASCII Name Country name EN  Population Modification date
0  Vehmersalmi  Vehmersalmi         Finland        1889        2014-09-25
1       Tornio       Tornio         Finland       21236        2014-09-25
2   Ruokolahti   Ruokolahti         Finland        5780        2014-09-25
3        Oitti        Oitti         Finland           0        2014-09-25
4   Noormarkku   Noormarkku         Finland        6076        2014-09-25

Finding what countries are in all dataframes

In [121]:
countries_air = air['WHO Country Name'].dropna().values
countries_dev = development['country'].dropna().values
countries_gas = gasses['country'].dropna().values
countries_pop = populations['Country name EN'].dropna().values

display(pd.unique(countries_air).shape)# It apears air has the least countries in it, but still 118 is prety good
display(pd.unique(countries_dev).shape)
display(pd.unique(countries_gas).shape)
display(pd.unique(countries_pop).shape)

(118,)

(206,)

(278,)

(229,)

In [122]:
common_countries = np.intersect1d(np.intersect1d(countries_air, countries_dev), np.intersect1d(countries_gas, countries_pop))
display(common_countries)
display(common_countries.shape)

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Argentina',
       'Australia', 'Austria', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Belgium', 'Bhutan', 'Bosnia and Herzegovina', 'Brazil',
       'Bulgaria', 'Cameroon', 'Canada', 'Chile', 'China', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Denmark', 'Ecuador',
       'Egypt', 'El Salvador', 'Estonia', 'Ethiopia', 'Fiji', 'Finland',
       'France', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malaysia', 'Maldives', 'Malta', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Myanmar', 'Nepal', 'Netherlands',
       'New Zealand', 'Nigeria', 'Norway', 'Pakistan', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Saudi Arabia', 'Senegal', 'Serbia', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sweden', 'Switzerland', 'Tajikistan', 'Thailand',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'Uzbekistan'], dtype=object)

(106,)

In [123]:
air.rename(columns={'WHO Country Name' : 'country', 'City or Locality' : 'city'}, inplace=True)
populations.rename(columns={'Country name EN' : 'country', 'Name' : 'city', 'ASCII Name' : 'ASCII city'}, inplace=True)

datasets = {
    'gasses' : gasses,
    'air' : air,
    'development' : development,
    'populations' : populations
}

In [124]:
for name, dataset in datasets.items():
  datasets[name] = dataset[dataset['country'].isin(common_countries)]
  datasets[name].reset_index(inplace=True, drop=True)

In [125]:
datasets['gasses'] = datasets['gasses'][datasets['gasses']['year'] >= 1990]

In [126]:
for name, dataset in datasets.items():
  display(dataset.shape)

(3392, 45)

(29197, 6)

(106, 33)

(110603, 5)

Finding the cities that are in both air and population dataframes

In [127]:
air_country_cities = datasets['air']['country'] + '_' + datasets['air']['city']
pop_country_cities = pd.concat([datasets['populations']['country'] + '_' + datasets['populations']['city'],
                                datasets['populations']['country'] + '_' + datasets['populations']['ASCII city']], ignore_index=True)

In [128]:
def sName(df):
  return df.str.lower().str.replace(' |-', '', regex=True)

In [129]:
common_idx = np.intersect1d(sName(air_country_cities), sName(pop_country_cities), return_indices=True)[1]
common_idx

array([    0,     1,     3, ..., 17357, 29048, 29050])

In [130]:
common_cities = datasets['air']['city'].iloc[common_idx]

datasets['air'] = datasets['air'][datasets['air']['city'].isin(common_cities)] #
datasets['air'].reset_index(inplace=True, drop=True)

datasets['populations'] = datasets['populations'][sName(datasets['populations']['city']).isin(sName(common_cities)) | sName(datasets['populations']['ASCII city']).isin(sName(common_cities))]
datasets['populations'].reset_index(inplace=True, drop=True)

In [131]:
datasets['air']

,country,city,Measurement Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3)
0,Afghanistan,Kabul,2019,119.77,NaN,NaN
1,Albania,Durres,2015,NaN,17.65,26.63
2,Albania,Durres,2016,14.32,24.56,24.78
3,Albania,Elbasan,2015,NaN,NaN,23.96
4,Albania,Elbasan,2016,NaN,NaN,26.26
...,...,...,...,...,...,...
20581,Uzbekistan,Tashkent,2019,41.96,NaN,NaN
20582,South Africa,Richards Bay,2012,13.00,NaN,NaN
20583,South Africa,Richards Bay,2017,NaN,28.41,NaN
20584,South Africa,Richards Bay,2018,NaN,28.37,NaN
20585,South Africa,Richards Bay,2019,NaN,23.61,NaN

In [132]:
datasets['populations']

,city,ASCII city,country,Population,Modification date
0,Mikkeli,Mikkeli,Finland,52121,2022-08-13
1,Lucé,Luce,France,17780,2016-02-18
2,Laval,Laval,France,50489,2023-04-28
3,Ivry-sur-Seine,Ivry-sur-Seine,France,57897,2019-03-26
4,Istres,Istres,France,44373,2019-06-05
...,...,...,...,...,...
5033,Dumbrăveni,Dumbraveni,Romania,8110,2012-06-12
5034,Buenos Aires,Buenos Aires,Panama,496,2023-01-26
5035,Valencia,Valencia,Philippines,0,2017-12-13
5036,Bor,Bor,Serbia,39387,2019-09-05
5037,Islamabad,Islamabad,Pakistan,601600,2019-09-05

Getting the city names in two datasets to match

In [133]:
datasets['populations'][datasets['populations']['city'] != datasets['populations']['ASCII city']]

,city,ASCII city,country,Population,Modification date
1,Lucé,Luce,France,17780,2016-02-18
5,Fougères,Fougeres,France,23719,2020-08-12
18,Puebla de Sancho Pérez,Puebla de Sancho Perez,Spain,2861,2012-03-04
21,La Línea de la Concepción,La Linea de la Concepcion,Spain,64595,2010-04-22
24,Pradejón,Pradejon,Spain,3546,2012-03-04
...,...,...,...,...,...
5027,Oława,Olawa,Poland,33029,2021-11-19
5028,Duszniki-Zdrój,Duszniki-Zdroj,Poland,4888,2011-07-31
5031,Ílhavo,Ilhavo,Portugal,17236,2023-09-28
5032,Măgurele,Magurele,Romania,9375,2012-06-12
5033,Dumbrăveni,Dumbraveni,Romania,8110,2012-06-12

In [138]:
datasets['populations'][~datasets['populations']['ASCII city'].isin(common_cities)].shape

(316, 5)

In [137]:
for i in datasets['populations'][~datasets['populations']['ASCII city'].isin(common_cities)].index: #Iterate through the cities that dont match

  c_name = datasets['populations']['city'][i]
  if c_name in common_cities.values:
    datasets['populations']['ASCII city'][i] = c_name
    print(f'Replaced {datasets["populations"]["ASCII city"][i]} with {c_name} from city')

  elif sName(datasets['populations']['ASCII city'])[i] in sName(common_cities).values:
    location = sName(common_cities)[sName(common_cities) == (sName(datasets['populations']['ASCII city'])[i])].index
    datasets['populations']['ASCII city'][i] = common_cities[location]
    print(f'Replaced {datasets["populations"]["ASCII city"][i]} with {common_cities[location]} from common_cities')


#datasets['populations'][~sName(datasets['populations']['ASCII city']).isin(sName(common_cities))].index

<ipython-input-137-5ea91e578933>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datasets['populations']['ASCII city'][i] = common_cities[location]
<ipython-input-137-5ea91e578933>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datasets['populations']['ASCII city'][i] = c_name

Replaced 14079    Villanueva Del Arzobispo
Name: city, dtype: object with 14079    Villanueva Del Arzobispo
Name: city, dtype: object from common_cities
Replaced 13465    Puebla De Sancho Perez
Name: city, dtype: object with 13465    Puebla De Sancho Perez
Name: city, dtype: object from common_cities
Replaced 12857    La Linea De La Concepcion
Name: city, dtype: object with 12857    La Linea De La Concepcion
Name: city, dtype: object from common_cities
Replaced 2482    Sao Caetano Do Sul
Name: city, dtype: object with 2482    Sao Caetano Do Sul
Name: city, dtype: object from common_cities
Replaced 21309    Doberdo Del Lago
Name: city, dtype: object with 21309    Doberdo Del Lago
Name: city, dtype: object from common_cities
Replaced Hafnarfjörður with Hafnarfjörður from city
Replaced 23762    Esch-Sur-Alzette
Name: city, dtype: object with 23762    Esch-Sur-Alzette
Name: city, dtype: object from common_cities
Replaced 22732    San Benedetto Del Tronto
Name: city, dtype: object with 22732    San Benedetto Del Tronto
Name: city, dtype: object from common_cities
Replaced 22610    Reggio Nell'emilia
Name: city, dtype: object with 22610    Reggio Nell'emilia
Name: city, dtype: object from common_cities
Replaced Piteå with Piteå from city
Replaced 26900    Montemor-O-Velho
Name: city, dtype: object with 26900    Montemor-O-Velho
Name: city, dtype: object from common_cities
Replaced Dumbrăveni with Dumbrăveni from city
Replaced 2508    Sao Jose Dos Campos
Name: city, dtype: object with 2508    Sao Jose Dos Campos
Name: city, dtype: object from common_cities
Replaced 10415    Marbach Am Neckar
Name: city, dtype: object with 10415    Marbach Am Neckar
Name: city, dtype: object from common_cities
Replaced 10031    Horb Am Neckar
Name: city, dtype: object with 10031    Horb Am Neckar
Name: city, dtype: object from common_cities
Replaced 523    Hainburg An Der Donau
Name: city, dtype: object with 523    Hainburg An Der Donau
Name: city, dtype: object from common_cities
Replaced 15498    Les Roches-De-Condrieu
Name: city, dtype: object with 15498    Les Roches-De-Condrieu
Name: city, dtype: object from common_cities
Replaced 14063    Villa Del Prado
Name: city, dtype: object with 14063    Villa Del Prado
Name: city, dtype: object from common_cities
Replaced 17655    Dunaujvaros
Name: city, dtype: object with 17655    Dunaujvaros
Name: city, dtype: object from common_cities
Replaced 22755    San Dona Di Piave
Name: city, dtype: object with 22755    San Dona Di Piave
Name: city, dtype: object from common_cities
Replaced 20716    Borgofranco Sul Po
Name: city, dtype: object with 20716    Borgofranco Sul Po
Name: city, dtype: object from common_cities
Replaced Rödeby with Rödeby from city
Replaced Olofström with Olofström from city
Replaced Göteborg with Göteborg from city
Replaced 27019    Vila Nova De Famalicao
Name: city, dtype: object with 27019    Vila Nova De Famalicao
Name: city, dtype: object from common_cities
Replaced Skarżysko-Kamienna with Skarżysko-Kamienna from city
Replaced Bolesławiec with Bolesławiec from city
Replaced 26956    Santiago Do Cacem
Name: city, dtype: object with 26956    Santiago Do Cacem
Name: city, dtype: object from common_cities
Replaced Lidingö with Lidingö from city
Replaced Falköping with Falköping from city
Replaced 2496    Sao Joao De Meriti
Name: city, dtype: object with 2496    Sao Joao De Meriti
Name: city, dtype: object from common_cities
Replaced 9202    Biberach An Der Riss
Name: city, dtype: object with 9202    Biberach An Der Riss
Name: city, dtype: object from common_cities
Replaced 13635    San Nicolas Del Puerto
Name: city, dtype: object with 13635    San Nicolas Del Puerto
Name: city, dtype: object from common_cities
Replaced 13457    Prado Del Rey
Name: city, dtype: object with 13457    Prado Del Rey
Name: city, dtype: object from common_cities
Replaced 12306    Castello De La Plana
Name: city, dtype: object with 12306    Castello De La Plana
Name: city, dtype: object from common_cities
Replaced 109    Campbell Town
Name: city, dtype: object with 109    Campbell Town
Name: city, dtype: object from common_cities
Replaced 11187    Steinheim An Der Murr
Name: city, dtype: object with 11187    Steinheim An Der Murr
Name: city, dtype: object from common_cities
Replaced 10606    Neuenburg Am Rhein
Name: city, dtype: object with 10606    Neuenburg Am Rhein
Name: city, dtype: object from common_cities
Replaced 15604    Marcq-En-Baroeul
Name: city, dtype: object with 15604    Marcq-En-Baroeul
Name: city, dtype: object from common_cities
Replaced 15144    Fos-Sur-Mer
Name: city, dtype: object with 15144    Fos-Sur-Mer
Name: city, dtype: object from common_cities
Replaced 22854    Sant'antioco
Name: city, dtype: object with 22854    Sant'antioco
Name: city, dtype: object from common_cities
Replaced 16208    Saint-Pierre
Name: city, dtype: object with 16208    Saint-Pierre
Name: city, dtype: object from common_cities
Replaced Živinice with Živinice from city
Replaced Vöcklabruck with Vöcklabruck from city
Replaced 531    Hall In Tirol
Name: city, dtype: object with 531    Hall In Tirol
Name: city, dtype: object from common_cities
Replaced Malmö with Malmö from city
Replaced Schönenbuch with Schönenbuch from city
Replaced Schwäbisch Hall with Schwäbisch Hall from city
Replaced Kohtla-Järve with Kohtla-Järve from city
Replaced 13833    Talavera De La Reina
Name: city, dtype: object with 13833    Talavera De La Reina
Name: city, dtype: object from common_cities
Replaced 13579    San Bartolome De Tirajana
Name: city, dtype: object with 13579    San Bartolome De Tirajana
Name: city, dtype: object from common_cities
Replaced 14039    Vilafranca Del Penedes
Name: city, dtype: object with 14039    Vilafranca Del Penedes
Name: city, dtype: object from common_cities
Replaced 17405    Eleftherio Kordelio
Name: city, dtype: object with 17405    Eleftherio Kordelio
Name: city, dtype: object from common_cities
Replaced 21672    Jolanda Di Savoia
Name: city, dtype: object with 21672    Jolanda Di Savoia
Name: city, dtype: object from common_cities
Replaced 25860    Naklo Nad Notecia
Name: city, dtype: object with 25860    Naklo Nad Notecia
Name: city, dtype: object from common_cities
Replaced 24030    San Juan Del Rio
Name: city, dtype: object with 24030    San Juan Del Rio
Name: city, dtype: object from common_cities
Replaced 22666    Riva Del Garda
Name: city, dtype: object with 22666    Riva Del Garda
Name: city, dtype: object from common_cities
Replaced 22103    Monte Sant'angelo
Name: city, dtype: object with 22103    Monte Sant'angelo
Name: city, dtype: object from common_cities
Replaced Södertälje with Södertälje from city
Replaced Gävle with Gävle from city
Replaced 27925    Zagorje Ob Savi
Name: city, dtype: object with 27925    Zagorje Ob Savi
Name: city, dtype: object from common_cities
Replaced Tønsberg with Tønsberg from city
Replaced 15765    Neuilly-Sur-Seine
Name: city, dtype: object with 15765    Neuilly-Sur-Seine
Name: city, dtype: object from common_cities
Replaced 15675    Mont-De-Marsan
Name: city, dtype: object with 15675    Mont-De-Marsan
Name: city, dtype: object from common_cities
Replaced 7957    Xi Xiang
Name: city, dtype: object with 7957    Xi Xiang
Name: city, dtype: object from common_cities
Replaced 9166    Bernau Bei Berlin
Name: city, dtype: object with 9166    Bernau Bei Berlin
Name: city, dtype: object from common_cities
Replaced 10916    Remseck Am Neckar
Name: city, dtype: object with 10916    Remseck Am Neckar
Name: city, dtype: object from common_cities
Replaced 10652    Neustadt An Der Weinstrasse
Name: city, dtype: object with 10652    Neustadt An Der Weinstrasse
Name: city, dtype: object from common_cities
Replaced 13736    Sant Vicenc Dels Horts
Name: city, dtype: object with 13736    Sant Vicenc Dels Horts
Name: city, dtype: object from common_cities
Replaced 13294    Oliva De Plasencia
Name: city, dtype: object with 13294    Oliva De Plasencia
Name: city, dtype: object from common_cities
Replaced 11845    Aranda De Duero
Name: city, dtype: object with 11845    Aranda De Duero
Name: city, dtype: object from common_cities
Replaced 15807    Nogent-Sur-Marne
Name: city, dtype: object with 15807    Nogent-Sur-Marne
Name: city, dtype: object from common_cities
Replaced 16441    Val-De-Reuil
Name: city, dtype: object with 16441    Val-De-Reuil
Name: city, dtype: object from common_cities
Replaced 11861    Arcos De La Frontera
Name: city, dtype: object with 11861    Arcos De La Frontera
Name: city, dtype: object from common_cities
Replaced 2877    Fort Mcmurray
Name: city, dtype: object with 2877    Fort Mcmurray
Name: city, dtype: object from common_cities
Replaced 27813    Ziar Nad Hronom
Name: city, dtype: object with 27813    Ziar Nad Hronom
Name: city, dtype: object from common_cities
Replaced Aralık with Aralık from city
Replaced Akıncılar with Akıncılar from city
Replaced Ardeşen with Ardeşen from city
Replaced 22857    Santa Croce Sull'arno
Name: city, dtype: object with 22857    Santa Croce Sull'arno
Name: city, dtype: object from common_cities
Replaced 22845    Sannazzaro De' Burgondi
Name: city, dtype: object with 22845    Sannazzaro De' Burgondi
Name: city, dtype: object from common_cities
Replaced 22674    Rivolta D'adda
Name: city, dtype: object with 22674    Rivolta D'adda
Name: city, dtype: object from common_cities
Replaced 22473    Ponti Sul Mincio
Name: city, dtype: object with 22473    Ponti Sul Mincio
Name: city, dtype: object from common_cities
Replaced 20977    Castello Di Godego
Name: city, dtype: object with 20977    Castello Di Godego
Name: city, dtype: object from common_cities
Replaced 16566    Vitry-Sur-Seine
Name: city, dtype: object with 16566    Vitry-Sur-Seine
Name: city, dtype: object from common_cities
Replaced 15399    La Ville-Aux-Dames
Name: city, dtype: object with 15399    La Ville-Aux-Dames
Name: city, dtype: object from common_cities
Replaced 15312    Joue-Les-Tours
Name: city, dtype: object with 15312    Joue-Les-Tours
Name: city, dtype: object from common_cities
Replaced 12331    Caudete De Las Fuentes
Name: city, dtype: object with 12331    Caudete De Las Fuentes
Name: city, dtype: object from common_cities
Replaced 8097    Xilinhot
Name: city, dtype: object with 8097    Xilinhot
Name: city, dtype: object from common_cities
Replaced Östringen with Östringen from city
Replaced 10732    Oettingen In Bayern
Name: city, dtype: object with 10732    Oettingen In Bayern
Name: city, dtype: object from common_cities
Replaced Köln with Köln from city
Replaced 17849    Alipurduar
Name: city, dtype: object with 17849    Alipurduar
Name: city, dtype: object from common_cities
Replaced 12247    Cangas Del Narcea
Name: city, dtype: object with 12247    Cangas Del Narcea
Name: city, dtype: object from common_cities
Replaced 2499    Sao Jose Do Rio Preto
Name: city, dtype: object with 2499    Sao Jose Do Rio Preto
Name: city, dtype: object from common_cities
Replaced 12540    El Prat De Llobregat
Name: city, dtype: object with 12540    El Prat De Llobregat
Name: city, dtype: object from common_cities
Replaced 9973    Heidenheim An Der Brenz
Name: city, dtype: object with 9973    Heidenheim An Der Brenz
Name: city, dtype: object from common_cities
Replaced Bönen with Bönen from city
Replaced Säffle with Säffle from city
Replaced 24195    Port Louis
Name: city, dtype: object with 24195    Port Louis
Name: city, dtype: object from common_cities
Replaced 14874    Chalons-En-Champagne
Name: city, dtype: object with 14874    Chalons-En-Champagne
Name: city, dtype: object from common_cities
Replaced 22469    Pomigliano D'arco
Name: city, dtype: object with 22469    Pomigliano D'arco
Name: city, dtype: object from common_cities
Replaced 21500    Francavilla Al Mare
Name: city, dtype: object with 21500    Francavilla Al Mare
Name: city, dtype: object from common_cities
Replaced Koziegłowy with Koziegłowy from city
Replaced 12818    Jerez De La Frontera
Name: city, dtype: object with 12818    Jerez De La Frontera
Name: city, dtype: object from common_cities
Replaced 13668    Sant Adria De Besos
Name: city, dtype: object with 13668    Sant Adria De Besos
Name: city, dtype: object from common_cities
Replaced 13358    Palomar De Arroyos
Name: city, dtype: object with 13358    Palomar De Arroyos
Name: city, dtype: object from common_cities
Replaced 13189    Mollet Del Valles
Name: city, dtype: object with 13189    Mollet Del Valles
Name: city, dtype: object from common_cities
Replaced 2929    Grand Falls - Windsor
Name: city, dtype: object with 2929    Grand Falls - Windsor
Name: city, dtype: object from common_cities
Replaced 3019    L'assomption
Name: city, dtype: object with 3019    L'assomption
Name: city, dtype: object from common_cities
Replaced 11399    Wendlingen Am Neckar
Name: city, dtype: object with 11399    Wendlingen Am Neckar
Name: city, dtype: object from common_cities
Replaced 10614    Neuhaus Am Rennweg
Name: city, dtype: object with 10614    Neuhaus Am Rennweg
Name: city, dtype: object from common_cities
Replaced Kumköy with Kumköy from city
Replaced 20839    Calusco D'adda
Name: city, dtype: object with 20839    Calusco D'adda
Name: city, dtype: object from common_cities
Replaced 23844    Casablanca
Name: city, dtype: object with 23844    Casablanca
Name: city, dtype: object from common_cities
Replaced Akıncılar with Akıncılar from city
Replaced Palandöken with Palandöken from city
Replaced 16124    Saint-Jean-De-Maurienne
Name: city, dtype: object with 16124    Saint-Jean-De-Maurienne
Name: city, dtype: object from common_cities
Replaced 15813    Nogent-Sur-Oise
Name: city, dtype: object with 15813    Nogent-Sur-Oise
Name: city, dtype: object from common_cities
Replaced 15464    Le Puy-En-Velay
Name: city, dtype: object with 15464    Le Puy-En-Velay
Name: city, dtype: object from common_cities
Replaced 14617    Bar-Le-Duc
Name: city, dtype: object with 14617    Bar-Le-Duc
Name: city, dtype: object from common_cities
Replaced Beromünster with Beromünster from city
Replaced 18335    Dehradun
Name: city, dtype: object with 18335    Dehradun
Name: city, dtype: object from common_cities
Replaced 22925    Savignano Sul Rubicone
Name: city, dtype: object with 22925    Savignano Sul Rubicone
Name: city, dtype: object from common_cities
Replaced 24064    Tula De Allende
Name: city, dtype: object with 24064    Tula De Allende
Name: city, dtype: object from common_cities
Replaced 12063    Bellver De Cerdanya
Name: city, dtype: object with 12063    Bellver De Cerdanya
Name: city, dtype: object from common_cities
Replaced 21007    Cavaso Del Tomba
Name: city, dtype: object with 21007    Cavaso Del Tomba
Name: city, dtype: object from common_cities
Replaced 16388    Thonon-Les-Bains
Name: city, dtype: object with 16388    Thonon-Les-Bains
Name: city, dtype: object from common_cities
Replaced 15920    Port-De-Bouc
Name: city, dtype: object with 15920    Port-De-Bouc
Name: city, dtype: object from common_cities
Replaced 15824    Notre-Dame-De-Gravenchon
Name: city, dtype: object with 15824    Notre-Dame-De-Gravenchon
Name: city, dtype: object from common_cities
Replaced 14911    Champigny-Sur-Marne
Name: city, dtype: object with 14911    Champigny-Sur-Marne
Name: city, dtype: object from common_cities
Replaced 14742    Boulogne-Sur-Mer
Name: city, dtype: object with 14742    Boulogne-Sur-Mer
Name: city, dtype: object from common_cities
Replaced 22855    Sant'eufemia A Maiella
Name: city, dtype: object with 22855    Sant'eufemia A Maiella
Name: city, dtype: object from common_cities
Replaced Västervik with Västervik from city
Replaced Merișani with Merișani from city
Replaced 24391    Hoek Van Holland
Name: city, dtype: object with 24391    Hoek Van Holland
Name: city, dtype: object from common_cities
Replaced Sölvesborg with Sölvesborg from city
Replaced 13611    San Juan Del Puerto
Name: city, dtype: object with 13611    San Juan Del Puerto
Name: city, dtype: object from common_cities
Replaced 13684    Sant Antoni De Portmany
Name: city, dtype: object with 13684    Sant Antoni De Portmany
Name: city, dtype: object from common_cities
Replaced 13619    San Martin De Valdeiglesias
Name: city, dtype: object with 13619    San Martin De Valdeiglesias
Name: city, dtype: object from common_cities
Replaced 27012    Vila Franca De Xira
Name: city, dtype: object with 27012    Vila Franca De Xira
Name: city, dtype: object from common_cities
Replaced Wörth with Wörth from city
Replaced 11707    Albalat Dels Tarongers
Name: city, dtype: object with 11707    Albalat Dels Tarongers
Name: city, dtype: object from common_cities
Replaced 13698    Sant Cugat Del Valles
Name: city, dtype: object with 13698    Sant Cugat Del Valles
Name: city, dtype: object from common_cities
Replaced 2540    Taboao Da Serra
Name: city, dtype: object with 2540    Taboao Da Serra
Name: city, dtype: object from common_cities
Replaced 11376    Weil Am Rhein
Name: city, dtype: object with 11376    Weil Am Rhein
Name: city, dtype: object from common_cities
Replaced Końskie with Końskie from city
Replaced 26978    Senhora Da Hora
Name: city, dtype: object with 26978    Senhora Da Hora
Name: city, dtype: object from common_cities
Replaced Çayırova with Çayırova from city
Replaced 16219    Saint-Pol-Sur-Mer
Name: city, dtype: object with 16219    Saint-Pol-Sur-Mer
Name: city, dtype: object from common_cities
Replaced 15717    Montoir-De-Bretagne
Name: city, dtype: object with 15717    Montoir-De-Bretagne
Name: city, dtype: object from common_cities
Replaced 14055    Vilanova I La Geltru
Name: city, dtype: object with 14055    Vilanova I La Geltru
Name: city, dtype: object from common_cities
Replaced Görlitz with Görlitz from city
Replaced 9684    Freiberg Am Neckar
Name: city, dtype: object with 9684    Freiberg Am Neckar
Name: city, dtype: object from common_cities
Replaced 109    Campbell Town
Name: city, dtype: object with 109    Campbell Town
Name: city, dtype: object from common_cities
Replaced Mölndal with Mölndal from city
Replaced 27808    Vranov Nad Toplou
Name: city, dtype: object with 27808    Vranov Nad Toplou
Name: city, dtype: object from common_cities
Replaced 17781    Bandung
Name: city, dtype: object with 17781    Bandung
Name: city, dtype: object from common_cities
Replaced 27283    Miercurea Ciuc
Name: city, dtype: object with 27283    Miercurea Ciuc
Name: city, dtype: object from common_cities
Replaced Dumbrăveni with Dumbrăveni from city
Replaced Hämeenlinna with Hämeenlinna from city
Replaced 16329    Sotteville-Les-Rouen
Name: city, dtype: object with 16329    Sotteville-Les-Rouen
Name: city, dtype: object from common_cities
Replaced 16053    Saint-Amand-Les-Eaux
Name: city, dtype: object with 16053    Saint-Amand-Les-Eaux
Name: city, dtype: object from common_cities
Replaced 15914    Pont-A-Mousson
Name: city, dtype: object with 15914    Pont-A-Mousson
Name: city, dtype: object from common_cities
Replaced 14928    Chateauneuf-Les-Martigues
Name: city, dtype: object with 14928    Chateauneuf-Les-Martigues
Name: city, dtype: object from common_cities
Replaced 14926    Chartres-De-Bretagne
Name: city, dtype: object with 14926    Chartres-De-Bretagne
Name: city, dtype: object from common_cities
Replaced 14709    Blenod-Les-Pont-A-Mousson
Name: city, dtype: object with 14709    Blenod-Les-Pont-A-Mousson
Name: city, dtype: object from common_cities
Replaced 14660    Belleville-Sur-Meuse
Name: city, dtype: object with 14660    Belleville-Sur-Meuse
Name: city, dtype: object from common_cities
Replaced 4839    Vina Del Mar
Name: city, dtype: object with 4839    Vina Del Mar
Name: city, dtype: object from common_cities
Replaced 12457    Cuevas Del Almanzora
Name: city, dtype: object with 12457    Cuevas Del Almanzora
Name: city, dtype: object from common_cities
Replaced 13785    Santiago De Compostela
Name: city, dtype: object with 13785    Santiago De Compostela
Name: city, dtype: object from common_cities
Replaced 12642    Foz Calanda

In [ ]:
common_cities

In [ ]:
sName(common_cities)